.all-specialty-container {
    padding: 0 100px;
    .des-specialty {
        margin-top: 20px;
        color: #337ab7;
        .fa-house {
            cursor: pointer;
        }
    }
    .title-specialty {
        color: #337ab7;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .list-specialty {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .logo-facility {
            width: 150px;
            height: 150px;
            margin-right: 20px;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .name-specialty {
            font-size: 18px;
            font-weight: 400;
            cursor: pointer;
        }
    }
}
