.modal-user-body {
    .input-container {
        input {
            height: 38px !important;
        }
    }
    .css-1f43avz-a11yText-A11yText {
        height: 38px !important;
    }
    .css-yk16xz-control {
        height: 38px !important;
    }
    .css-g1d714-ValueContainer {
        height: 38px !important;
    }
}
.title-header {
    margin: 0 auto;
    margin-bottom: -10px;
}
