.detail-specialty-container {
    .description-specialty {
        // background: #fff !important;
        padding: 10px;
        h1,
        h2,
        h3 {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .detail-specialty-body {
        padding: 0 100px;

        background-image: url('../../../assets/images/background/background_child.png');
    }
    .doctor-search {
        background: #faf9f9;
        padding: 15px 100px 0 100px;
        select {
            height: 30px;
            padding: 5px 5px;
            border: none;
            outline: none;
            cursor: pointer;
            color: #337ab7;
            border: 1px solid #337ab7;
            border-radius: 3px;
        }
    }

    .doctor-item {
        background: #faf9f9;
        padding: 15px 100px;
        min-height: 400px;

        .each-doctor {
            display: flex;
            width: 100%;
            min-height: 300px;
            margin: 15px 0;
            padding: 10px;

            // background-color: #fff;
            background-image: url('../../../assets/images/background/background_child.png');
            box-shadow: 0 1px 6px #20212447;
            border-radius: 8px;

            .dt-content-left {
                width: 50%;
                border-right: 1px solid #ddd;
                padding-right: 10px;
            }
            .dt-content-right {
                width: 50%;
                padding: 10px;

                .doctor-schedule {
                }

                .doctor-extra-infor {
                    padding-top: 10px;
                    border-top: 1px solid #ddd;
                    margin-top: 10px;
                    .doctor-extra-infor-conatiner {
                        padding-left: 0 !important;
                    }
                }
            }
            .no-doctor {
                margin: auto auto;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 600;
                color: #ffc10e;
            }
        }
    }
}
