.label-img {
    margin-top: 3px !important;
}
.btn-submit {
    display: flex !important;
    justify-content: flex-end !important;
}
.preview-img-container {
    .label-upload {
        margin-top: -5px;
        padding: 5px;
        border-radius: 3px;
        background: #ddd;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
    .preview-image {
        height: 150px;
        width: 100%;
        border: 1px solid #ddd;
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}
