.doctor-detail-container {
    height: 500px;
    background-image: url('../../../assets/images/background/background_child.png');
    .des-doctor {
        padding: 15px 100px 5px 100px;
        color: #337ab7;
        .fa-house {
            cursor: pointer;
        }
        .des-specialty {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .intro-contor {
        display: flex;
        margin: 0 100px;

        .content-left {
            background: center center no-repeat;
            width: 140px;
            height: 150px;
            overflow: hidden;
            border-radius: 50%;
            margin: 10px 20px;
            background-size: cover;
        }

        .content-right {
            padding-left: 10px;
            width: 70%;
            display: flex;
            flex-direction: column;

            .up {
                padding-top: 15px;
                font-size: 20px;
                font-weight: 600;
            }

            .down {
                padding-top: 10px;
            }
        }
    }
    .schedule-doctor {
        margin: 0 100px;
        display: flex;
        min-height: 250px;
        padding: 10px 0;
        .content-left {
            width: 50%;
        }
        .content-right {
            width: 50%;
        }
    }
    .detail-info {
        padding: 0 100px 20px 100px;
        padding-top: 20px;
        background-color: #f9f9f9;

        .detail-doctor-content {
            background-image: url('../../../assets/images/background/background_child.png');
            border: 1px solid #faf9f9;
            border-radius: 8px;
            padding: 15px 50px 15px 40px;
        }

        img {
            width: 100%;
            padding-top: 20px;
        }
    }

    .comment-doctor {
        height: 50px;
    }
}
